Import Libraries and Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing all data
df_food = pd.read_csv('Food_Supply_Quantity_kg_Data.csv')
df_protein = pd.read_csv('Protein_Supply_Quantity_Data.csv')
df_fat = pd.read_csv('Fat_Supply_Quantity_Data.csv')
df_category = pd.read_csv('Supply_Food_Data_Descriptions.csv')

List of columns in the supply DataFrame with the following conditions:

- all columns: list which contains all the columns in the DataFrame supply
- supply columns: list which lists all the columns in the supply DataFrame according to the 'Categories' column in the DataFrame df_category
- non-supply columns: list that lists all non-supply columns in the supply DataFrame

In [3]:
# All columns
all_columns = df_food.columns.tolist()
print(f'All Columns : {all_columns} \n \n')

# Supply columns
supply_columns = df_category['Categories'].tolist()
print(f'Supply Columns : {supply_columns} \n \n')

# Non Supply columns
non_supply_columns =[col for col in all_columns if col not in supply_columns]
print(f'Non Supply Columns : {non_supply_columns}')

All Columns : ['Country', 'Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population', 'Unit (all except Population)']


Supply Columns : ['Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products']


Non Supply Columns : ['Country', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population', 'Unit (all except Population)']

Combining DataFrame

Combine all DataFrame supplies provided there are no columns with the same name. For non-supply columns like the one above, have the same value for each DataFrame, so just get it from one of the DataFrames. Whereas for the supply columns as mentioned above, each DataFrame (df_food, df_protein, df_fat) has a different value, so we need to add a suffix based on the type of supply DataFrame, for example for the column 'eggs' we must add a suffix thus the combined DataFrame has columns for 'eggs_food', 'eggs_protein', and 'eggs_fat'. For a clearer picture, please look at the expected output.

In [4]:
df_non_supply_new = df_food[non_supply_columns]
df_food_new = df_food[['Country']+supply_columns]
df_protein_new = df_protein[['Country']+supply_columns]
df_fat_new = df_fat[['Country']+supply_columns]

In [5]:
# Next, combine the dataset in the instructions above by adding a different suffix for each dataset using pd.merge

df= pd.merge(df_food_new, df_protein_new, on='Country', how='outer', suffixes=('_food','_protein'))

fat_new_cols = [col + '_fat' if col != 'Country' else col for col in df_fat_new.columns]
df_fat_new.columns = fat_new_cols

df = pd.merge(df,df_fat_new,how='outer', on='Country')
df = pd.merge(df, df_non_supply_new, how='outer')
df

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0014,0.1973,9.4341,0.0000,24.8097,0.2099,0.0350,5.3495,1.2020,...,0.3593,28.3684,4.5,29.8,0.094302,0.003298,0.065531,0.025473,38928000.0,%
1,Albania,1.6719,0.1357,18.7684,0.0000,5.7817,0.5815,0.2126,6.7861,1.8845,...,0.6503,17.9998,22.3,6.2,0.194468,0.005849,0.106342,0.082276,2838000.0,%
2,Algeria,0.2711,0.0282,9.6334,0.0000,13.6816,0.5277,0.2416,6.3801,1.1305,...,0.5145,35.5857,26.6,3.9,0.070936,0.002775,0.048288,0.019873,44357000.0,%
3,Angola,5.8087,0.0560,4.9278,0.0000,9.1085,0.0587,1.7707,6.0005,2.0571,...,0.1231,34.7010,6.8,25,0.003687,0.000169,0.001418,0.002100,32522000.0,%
4,Antigua and Barbuda,3.5764,0.0087,16.6613,0.0000,5.9960,0.2274,4.1489,10.7451,5.6888,...,0.2469,22.2995,19.1,NaN,0.092857,0.003061,0.068367,0.021429,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2.5952,0.0403,14.7565,0.0000,12.9253,0.3389,0.9456,7.6460,3.8328,...,0.1851,33.6855,25.2,21.2,0.070539,0.000607,0.039811,0.030120,28645000.0,%
166,Vietnam,1.4591,0.1640,8.5765,0.0042,16.8740,0.3077,2.6392,5.9029,4.4382,...,0.6373,16.7548,2.1,9.3,0.000645,0.000006,0.000388,0.000252,96209000.0,%
167,Yemen,0.0364,0.0446,5.7874,0.0000,27.2077,0.2579,0.5240,5.1344,2.7871,...,0.1667,37.4535,14.1,38.9,0.005814,0.001666,0.002890,0.001257,29826000.0,%
168,Zambia,5.7360,0.0829,6.0197,0.0000,21.1938,0.3399,1.6924,1.0183,1.8427,...,0.1567,40.3939,6.5,46.7,0.034525,0.000925,0.024440,0.009160,18384000.0,%
169,Zimbabwe,4.0552,0.0755,8.1489,0.0000,22.6240,0.2678,0.5518,2.2000,2.6142,...,0.0789,39.6248,12.3,51.3,0.026381,0.000471,0.006836,0.019074,14863000.0,%

From the combined DataFrame in Problem 2 (or use one of the supply DataFrames because the non-supply value columns have the same value), then sort the data (sort) based on the death column ('Deaths') from the largest. After that we do the following command:

Print the sorted data

In what order is Indonesia based on the death rate due to COVID-19 after ranking from largest? Use the code to get the value!
What percentage of the number of confirmed deaths from COVID-19 in Indonesia? We count the number of people who died! 
Number of people who died = population * deaths

In [6]:
# Sort and print the result

df_sort_death = df.sort_values(by='Deaths', ascending=False, ignore_index=True)
df_sort_death

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Belgium,5.3730,0.8559,17.7279,0.0010,6.6704,0.6487,1.1325,4.1623,3.2370,...,0.2982,23.2622,24.5,<2.5,0.606591,0.085497,0.152757,0.368337,11515000.0,%
1,United Kingdom,5.2632,0.2754,18.8798,0.0006,6.5412,0.6210,1.0911,4.9551,4.4181,...,0.2127,24.1332,29.5,<2.5,0.456103,0.068919,0.002150,0.385034,67160000.0,%
2,Peru,3.8623,0.0316,8.6638,0.0014,11.8140,0.6431,1.7993,8.5783,1.7540,...,0.4523,31.9598,19.1,9.7,1.306514,0.059755,0.896256,0.350503,32824000.0,%
3,Spain,5.3152,0.2357,18.3382,0.0011,6.0548,0.7321,2.2646,4.8332,5.3456,...,0.2611,30.4731,27.1,<2.5,0.605693,0.059714,0.315684,NaN,47635000.0,%
4,Italy,3.1892,0.2834,19.0329,0.0005,8.5417,0.6247,1.5816,6.0207,4.2963,...,0.2277,28.1306,22.9,<2.5,0.411420,0.058302,0.332460,0.020658,60296000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,New Caledonia,5.0363,0.0821,11.7818,0.0804,8.5840,0.7494,2.0361,5.5855,5.8687,...,0.1887,27.7282,NaN,7.1,NaN,NaN,NaN,NaN,295000.0,%
166,Samoa,1.4236,0.2262,11.1630,0.1236,3.6768,0.1314,2.7788,10.7845,5.7993,...,0.0431,28.3194,45.5,2.7,NaN,NaN,NaN,NaN,200000.0,%
167,Solomon Islands,0.8298,0.1038,3.8504,0.0121,9.0233,0.0826,2.2840,3.2798,0.8897,...,0.0785,36.3351,20.5,8.9,NaN,NaN,NaN,NaN,715000.0,%
168,Turkmenistan,0.5038,0.3373,16.0611,0.0000,14.8029,0.5139,0.2137,4.1441,4.3767,...,0.4459,17.3085,17.5,5.4,NaN,NaN,NaN,NaN,6031000.0,%
169,Vanuatu,0.2424,0.0793,6.6244,0.0000,6.4102,0.1875,2.1649,5.8103,2.7466,...,0.1424,35.0847,23.5,7.2,NaN,NaN,NaN,NaN,321000.0,%

In [7]:
# Find Indonesia position by death

list(df_sort_death[df_sort_death['Country']=='Indonesia'].index)[0]+1

84

In [9]:
# Berapa persen jumlah kematian di Indonesia? Berapa Jumlahnya?
# Code here
meninggal_persen = list(df_sort_death[df_sort_death['Country']=='Indonesia'].Deaths)[0]
meninggal = list(df_sort_death[df_sort_death['Country']=='Indonesia'].Deaths * df_sort_death[df_sort_death['Country']=='Indonesia'].Population * 0.01)[0]

print(f'Death percentage number in Indonesia {round(meninggal_persen, 10)}% from population.') # 10 digit
print(f'Death in Indonesia {round(meninggal)} people.')

Death percentage number in Indonesia 0.0019268489% dari jumlah populasi.
Death in Indonesia 5236 orang.

Binning the confirmed column (Confirmed) COVID-19 from the DataFrame df_fat into 5 parts (q = 5). We can use the 'qcut' function to do this bininng. 

Enter the binning result data into a new column in the DataFrame df_fat. 

Name the column 'Confirmed Category'. Label it 'Very Not Much', 'Not Much', 'Moderate', 'Enough', 'Very Much'.

Read the following documentation for the qcut function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

- Create a new DataFrame that contains grouping data based on the bininng result column or the 'Confirmed Category' column.
- Do grouping only in the 'Obesity', 'Meat', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products', 'Vegetal Products' columns only.
- Then aggregate with the mean function. (df_baru = df_fat.groupby (...). mean ())
- Save the binning, grouping, and aggregating DataFrame into a csv file.

Binning, Grouping and Data Aggregation

Binning the confirmed column (Confirmed) COVID-19 from the DataFrame df_fat into 5 parts (q = 5). You can use the qcut function to do this bininng. Enter the binning result data into a new column in the DataFrame df_fat. Name the column 'Confirmed Category'. Label it 'Very Not Much', 'Not Much', 'Moderate', 'Enough', 'Very Much'.

Read the following documentation for the qcut function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

Then do the following commands:

- Create a new DataFrame containing data grouping based on bininng result column or 'Confirmed Category' column.
- Group only the 'Obesity', 'Meat', 'Fruits - Excluding Grapes', 'Fish, Seafood', 'Animal Products', 'Vegetable Products' columns only.
- Then combine it with the average function. (df_baru = df_fat.groupby (...). mean ())
- Save the binning, grouping, and aggregating DataFrame into a csv file.